.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  min-height: 100px;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} 